* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "NowAlt";
  font-style: normal;
  font-weight: normal;
  src: local("Now Alt Regular"),
    url("./assets/fonts/NowAlt-Regular.woff") format("woff");
}

body {
  font-family: "NowAlt";
  background: url("https://banano.cc/assets/bg-hero.svg");
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cover__green {
  background: #488f36;
  color: white;
  display: flex;
  text-align: center;
}

.cover__green--image {
  width: 100px;
}

.cover__green--title {
  margin-top: 50%;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.cover__page {
  background: rgb(34, 34, 33);
}

.input--user {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 25px;
}

.input--user input,
.input--user button {
  width: 40%;
  height: 35px;
}

.input--user input {
  padding-left: 15px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.input--user button {
  border: none;
  width: 10%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgb(10, 92, 10);
  color: white;
}

.cover__page--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.card--wrap {
  margin-right: 10px;
  margin-top: 15px;
  position: relative;
}

.card--image {
  filter: grayscale(95%);
}

.card--image.user-have {
  filter: grayscale(0%);
}

.card--image.user-have:hover {
  filter: brightness(105%);
  transition: all 200ms ease-in-out;
}

.card--quantity {
  font-size: 0.7rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  right: 0;
  color: white;
  background: rgb(76 185 73);
  bottom: 0;
  border-radius: 50%;
  font-weight: bold;
  opacity: 0.8;
}

.cover__page--final {
  background: #5db447;
  align-items: center;
}

.final--header {
  margin-top: 25%;
  color: white;
}
