@font-face {
  font-family: "NowAlt";
  font-style: normal;
  font-weight: normal;
  src: local("Now Alt Regular"),
    url("./assets/fonts/NowAlt-Regular.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "NowAlt";
  background: rgb(42, 41, 46);
  background: linear-gradient(
    180deg,
    rgba(42, 41, 46, 1) 4%,
    rgba(24, 23, 26, 1) 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}
